.content {
    display: flex;
    flex-direction: column;
    background-color: white;
    height: auto;
    flex: 1;
    margin-left: 8px;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}
th, td {
    padding: 10px;
    border: 1px solid #333;
    text-align: left;
}
th {
    background-color: #f4f4f4;
}
.btn {
    padding: 5px 10px;
    border: none;
    background-color: #28a745;
    color: white;
    cursor: pointer;
}
.btn-danger {
    background-color: #dc3545;
}
.btn-edit {
    background-color: #ffc107;
}
.btn:hover {
    opacity: 0.9;
}
.form-group {
    margin-bottom: 10px;
}
label {
    display: block;
}
input[type="text"], input[type="number"], textarea {
    width: 98%;
    padding: 5px;
    margin-bottom: 10px;
}