@font-face {
  font-family: 'Roboto';
  src: url(./public/font/Roboto.ttf);
}

@property --brown-color {
  syntax: "<color>";
  inherits: false;
  initial-value: rgb(71, 12, 14);
}

@property --bisque-color {
  syntax: "<color>";
  inherits: false;
  initial-value: rgb(255, 228, 196);
}

@property --pink-color {
  syntax: "<color>";
  inherits: false;
  initial-value: rgb(255, 226, 226);
}

@property --white-color {
  syntax: "<color>";
  inherits: false;
  initial-value: #ffffff;
}

@property --black-color {
  syntax: "<color>";
  inherits: false;
  initial-value: #000000;
}

@property --blue-color {
  syntax: "<color>";
  inherits: false;
  initial-value: #3aa6b9;
}

body {
  background-color: var(--pink-color);
}

html::-webkit-scrollbar {
  display: none;
}

textarea {
  resize: none;
}