.content {
    display: flex;
    flex-direction: column;
    background-color: white;
    height: auto;
    margin-left: 8px;
}
table {
    width: 100%;
    border-collapse: collapse; 
    border: 2px solid #333; 
}
th, td {
    padding: 10px;
    border: 1px solid #333;
    text-align: left;
}
th {
    background-color: #f4f4f4; 
}
tr:nth-child(even) {
    background-color: #f9f9f9;
}
.status {
    padding: 5px 10px;
    border-radius: 5px;
}
.waiting { background-color: #f7d7d7; }
.accepted { background-color: #ffdd7e; }
.in-progress { background-color: #fffa7e; }
.shipping { background-color: #9be8a7; }
.delivered { background-color: #a7d9f8; }
.cancelled { background-color: #f8a7a7; }