.layout-container {
  width: 40%;
  min-height: 100vh;
  padding-top: calc(80px + 86px); /* Header: 86px */
  padding-bottom: 80px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}

.login-container {
  background-color: var(--cream-color);
  padding: 20px 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  box-sizing: border-box;
}

.login-container h2 {
  font-family: "Roboto";
  margin-bottom: 20px;
  font-size: 24px;
  color: var(--black-color);
  text-align: center;
}

.input-group {
  margin-bottom: 15px;
}

.input-group label {
  font-family: "Roboto";
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
  color: var(--black-color);
}

.input-group input {
  width: 100%;
  font-family: "Roboto";
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box;
}

.btn {
  background-color: var(--brown-color);
  color: var(--white-color);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
  transition: 0.3s;
}

.btn:hover {
  background-color:var(--bisque-color);
  color: var(--brown-color);
}

.register {
  font-family: "Roboto";
  margin-top: 15px;
  text-align: center;
}

.register p {
  font-size: 14px;
  color: var(--black-color);
}

.register a {
  color: var(--brown-color);
}
