.layout-container {
    width: 60%;
    min-height: 100vh;
    padding-top: calc(80px + 86px); /* Header: 86px */
    padding-bottom: 80px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
  }
  
  .modify-container {
    background-color: var(--cream-color);
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 2px 10px var(--shadow-color);
  }
  
  .modify-title {
    font-family: "Roboto";
    font-size: 24px;
    line-height: 32px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
  }

.input-group {
    margin-bottom: 15px;
    text-align: left;
}

.input-group label {
    font-family: "Roboto";
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: black;
}

.input-group input {
    font-family: "Roboto";
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.btn {
    background-color: var(--brown-color);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    transition: 0.3s;
}

.btn:hover {
    background-color: bisque;
    color: var(--brown-color);
}